include README.md
recursive-include octoprint_teensyfilamentsensor/templates *
recursive-include octoprint_teensyfilamentsensor/translations *
recursive-include octoprint_teensyfilamentsensor/static *
